# Local fixture lab only. No broker/model credentials are used by this build.
MFD_PORT=8088
MFD_WORKERS=2
MFD_BIND_ADDRESS=0.0.0.0
GRAFANA_PORT=3088
PROMETHEUS_PORT=9098
POSTGRES_PORT=5432
REDIS_PORT=6379
NATS_PORT=4222
NATS_MONITOR_PORT=8222
GRAFANA_ROOT_URL=https://mfd-grafana.aklein.fr
PROMETHEUS_EXTERNAL_URL=https://mfd-prometheus.aklein.fr
